<div class="row">
  <div class="col-lg-12">
    <h1>Class Modules <small></small></h1>
    <div class="list-group">
        <% for(var i = 0; i < modules.length; i++){ %>
            <a class="list-group-item" href="/modules/<%= modules[i].id %>"><%= modules[i].title %></a>
        <%}%>
    </div>
  </div>
</div><!-- /.row -->