<h1>Create/edit session</h1>
<div id="modules-container">

</div>

<br/>
<button class="btn btn-lg btn-info" id="add-module">Add module</button>
<button class="btn btn-lg btn-success">Save changes</button>