<!-- BEGIN SESSION EDITOR -->
<script>
    var API_id = "<%= params.id %>";
</script>
<div class="row" ng-app="SessionEditor" ng-controller="SessionEditorController as SessionCtl">
    <div class="col-md-6">
        <div id="session-editor">
            <h1>Session Editor</h1>
            <div id="modules-container" ng-controller="ModulesEditorController">
                <!-- BEGIN ALL MODULES -->
                <div class="module-editor" ng-repeat="module in modules">
                    <div class="panel panel-default" ng-controller="QuizEditorController as quiz" ng-init="init($index)"
                         ng-show="module.type == 'quiz'">
                        <div class="panel-heading">
                            <a class="panel-title accordion-toggle" data-toggle="collapse" data-parent=".module-editor" href="#collapseModule{{$index}}">{{ $index+1 }}. Quiz</a>
                        </div>
                        <div class="panel-body" id="collapseModule{{$index}}">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" placeholder="e.g. 'Comparison operator review'"
                                       ng-model="quiz.title">
                            </div>
                            <div class="form-group">
                                <label>Instructions</label>
                                <textarea class="form-control" rows="3"
                                          placeholder="e.g. 'Last time we discussed how to compare numbers. Do you remember which symbols we use for each comparison?'"
                                          ng-model="quiz.instructions"></textarea>
                            </div>
                            <div class="questions">
                                <label>Questions</label>

                                <div class="question-editor panel panel-default" ng-repeat="question in quiz.questions">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent=".question-editor" href="#collapseQuestionEditor{{$index}}">Question {{ $index + 1 }}</a>
                                    </div>
                                    <div class="panel-body" id="collapseQuestionEditor{{$index}}">
                                        <div class="form-group">
                                            <label>Type</label>
                                            <select class="form-control" ng-model="question.type">
                                                <option>True/False</option>
                                                <option>Multiple Choice</option>
                                                <option>Short Answer</option>
                                                <option>Free Response</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Question Body</label>
                                            <input type="text" class="form-control"
                                                   placeholder="e.g. 'How many cups in a quart?'"
                                                   ng-model="question.body">
                                        </div>
                                        <div class="form-group">
                                            <label>Secondary Text</label>
                                            <textarea class="form-control"
                                                      placeholder="e.g. 'How many cups in a quart?'"
                                                      ng-model="question.secondary_text"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Image</label>
                                            <input type="text" class="form-control"
                                                   placeholder="a link to the desired image" ng-model="question.imageURL">
                                        </div>

                                        <div class="form-group" ng-show="question.type === 'True/False'">
                                            <label>Correct Answer</label>
                                            <select class="form-control" ng-model="question.correct_answer"
                                                    value="question.correct_answer">
                                                <option>True</option>
                                                <option>False</option>
                                            </select>
                                        </div>

                                        <div ng-show="question.type === 'Multiple Choice'">
                                            <div class="form-group">
                                                <label>Choices:</label>

                                                <div class="input-group form-group" ng-repeat="choice in question.choices track by $index">
                                                    <input type="text" class="form-control" value="{{ choice }}" ng-model="question.choices[$index]">
                                                    <span class="input-group-addon multiple-choice-delete" ng-click="question.choices.splice($index,1)"><i class="fa fa-times"></i></span>
                                                    <!--<button type="button" class="close" aria-hidden="true" ng-click="question.choices.splice($index,1)">&times;</button>-->
                                                </div>

                                                <p ng-hide="question.choices.length > 0">No choices!</p>
                                                <button type="button" ng-click="question.choices.push('')" class="btn btn-default btn-success">
                                                    Add choice
                                                </button>
                                            </div>

                                            <div class="form-group">
                                                <label>Correct Answer</label>
                                                <select class="form-control" ng-model="question.correct_answer">
                                                    <option ng-repeat="choice in question.choices track by $index">{{ choice }}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-show="question.type === 'Short Answer'">
                                            <label>Correct Answer</label>
                                            <input type="text" class="form-control"
                                                   placeholder="e.g. '16', must be EXACT"
                                                   ng-model="question.correct_answer"
                                                   value="{{ question.correct_answer }}">
                                        </div>

                                        <!--Free response questions shouldn't have correct answers...-->
                                        <!--<div class="form-group" ng-show="question.type === 'Free Response'">-->
                                            <!--<label>Correct Answer</label>-->
                                            <!--<textarea class="form-control" rows="3"-->
                                                      <!--placeholder="You probably won't have one correct answer for a free response question, in which case, just leave this blank."-->
                                                      <!--ng-model="question.correct_answer"-->
                                                      <!--value="{{ question.correct_answer }}"></textarea>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                            {{$scope}}
                            <div class="btn-group">
                                <button type="button" class="btn btn-info" ng-click="addQuestion()">Add Question</button>
                            </div>
                            <br/>
                            JSON Data: {{ quiz }}
                        </div>
                    </div>



                    <div class="panel panel-default" ng-controller="LectureEditorController as lecture" ng-init="init($index)"
                         ng-show="module.type == 'lecture'">
                        <div class="panel-heading">
                            <a class="panel-title accordion-toggle" data-toggle="collapse" data-parent=".module-editor" href="#collapseModule{{$index}}">{{ $index+1 }}. Lecture</a>
                        </div>
                        <div class="panel-body" id="collapseModule{{$index}}">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" placeholder="e.g. 'Comparison operator review'"
                                       ng-model="lecture.title" value="{{ lecture.title }}">
                            </div>
                            <div class="form-group">
                                <label>Lecture Body</label>
                                <textarea class="form-control" rows="3"
                                          placeholder="#You can use **markdown** here"
                                          ng-model="lecture.body"
                                          value="{{ lecture.body }}"></textarea>
                            </div>

                            {{$scope}}
                            <br/>
                            JSON Data: {{ lecture }}
                        </div>
                    </div>

                    <div class="panel panel-default" ng-controller="CodeExerciseEditorController as code" ng-init="init($index)"
                         ng-show="module.type == 'code'">
                        <div class="panel-heading">
                            <a class="panel-title accordion-toggle" data-toggle="collapse" data-parent=".module-editor" href="#collapseModule{{$index}}">{{ $index+1 }}. Code Exercise</a>
                        </div>
                        <div class="panel-body" id="collapseModule{{$index}}">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" placeholder="e.g. 'Comparison operator review'"
                                       ng-model="code.title" value="{{ code.title }}">
                            </div>
                            <div class="form-group">
                                <label>Instructions</label>
                                <textarea class="form-control" rows="3"
                                          placeholder="#You can use **markdown** here"
                                          ng-model="code.body"
                                          value="{{ code.body }}"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Starter Code</label>
                                <textarea class="form-control" rows="3"
                                          placeholder="e.g. <html><head></head></html>"
                                          ng-model="code.starter_code"
                                          value="{{ code.starter_code }}"></textarea>
                            </div>

                            <div class="form-group">

                            </div>

                            {{$scope}}
                            <br/>
                            JSON Data: {{ code }}
                        </div>
                    </div>

                </div>

                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle btn-info" data-toggle="dropdown">
                        Add Module <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" ng-click="addModule('quiz')">Quiz Module</a></li>
                        <li><a href="#" ng-click="addModule('lecture')">Lecture Module</a></li>
                        <li><a href="#" ng-click="addModule('code')">Code Module</a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-success" ng-click="save()">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" ng-controller="ModulesPreviewController">
        <h1>Session Preview</h1>
        <div class="modulePreview" ng-repeat="module in modules">
            <div ng-show="module.type == 'quiz'" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ $index + 1 }}. Quiz</h3>
                </div>
                <div class="panel-body">
                    <h2>{{ module.title || 'Untitled Quiz' }}</h2>
                    <p>{{ module.instructions || 'No additional instructions given.' }}</p>

                    <div class="panel panel-default" ng-repeat="question in module.questions track by $index">
                        <div class="panel-heading">
                            Question {{ $index + 1 }} ({{ question.type }})
                        </div>
                        <div class="panel-body">
                            <h4>{{ question.body || 'Blank Question' }}</h4>
                            <small>{{ question.secondary_text }}</small>
                            <img class="img-responsive question-image" src="{{ question.imageURL}}" />

                            <div ng-show="question.type == 'True/False'">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="tfRadio{{$index}}" checked> True
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="tfRadio{{$index}}"> False
                                    </label>
                                </div>
                            </div>

                            <div ng-show="question.type == 'Multiple Choice'">
                                <div ng-repeat="choice in question.choices track by $index">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="mcRadio{{$parent.$index}}" checked> {{ choice }}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="question.type == 'Short Answer'">
                                <div class="form-group">
                                    <label>Your Answer</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div ng-show="question.type == 'Free Response'">
                                <div class="form-group">
                                    <label>Your Answer</label>
                                    <textarea class="form-control" rows="3""></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="module.type == 'lecture'" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ $index + 1 }}. Lecture Item</h3>
                </div>
                <div class="panel-body">
                    <h2>{{ module.title || 'Untitled Lecture Item' }}</h2>
                    <p>{{ module.body || 'No lecture content :(' }}</p>

                    <div class="form-group">
                        <button class="btn btn-success">I understand</button>
                        <button class="btn btn-danger">I don't understand</button>
                    </div>

                </div>
            </div>

            <div ng-show="module.type == 'code'" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ $index + 1 }}. Code Exercise</h3>
                </div>
                <div class="panel-body">
                    <h2>{{ module.title || 'Untitled Code Exercise' }}</h2>
                    <p>{{ module.body || '' }}</p>

                    <div class="codePreview">
                        {{ module.starter_code || '' }}
                    </div>

                </div>
            </div>

        </div>
    </div>
        {{ modules }}
    </div>
</div>

<script src="/js/session_editor.js"></script>