<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8">
    <meta name="description" content="A classroom management utility for teaching computer science">
    <meta name="author" content="Ved Topkar, Tom Silver">

    <!--Stylesheets
      ========================
      
    -->
    <link href="styles/bootstrap.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Lato:300,400,700,900|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <!-- DLP Stylesheet -->
    <link href="styles/dlp.css" rel="stylesheet">


  </head>

  <body>
    <!-- Navbar -->
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-fixed-top navbar-inverse">
          <p class="navbar-brand">Welcome to &lt;Class&gt;</p>  
          <p class="navbar-text navbar-right" style="float: right;">Signed in as <a href="#" class="navbar-link">(Student)</a></p>    
        </div>
      </div>
    </div>
    <!-- End navbar -->
    <div class="container" style="margin-top: 50px;">
      <%- body %>
    </div>


    <!--

      Client-side Javascript
      ========================
    -->
    <!-- Bring in the socket.io client -->
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <script type="text/javascript" src="/js/sails.io.js"></script>
    <!-- listen on socket.io for incoming messages -->
    <script type="text/javascript" src="/js/app.js"></script>
    <!-- jquery for some magic -->
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <!-- website js file -->
    <script type="text/javascript" src="/js/dlp.js"></script>



    </body>
</html>
