<div id="left-panel">
    <pre id="html-editor">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;
            Franklin D. Roosevelt K-8 School
        &lt;/title&gt;
    &lt;/head&gt;
&lt;body style=&quot;background-color:green; text-align:center;&quot;&gt;
    &lt;div style = &quot;background-color:blue;&quot;&gt;
    &lt;h1 style = &quot;color: white&quot;&gt;Welcome to Roosevelt K-8 School!&lt;/h1&gt;
    &lt;/div&gt;
    &lt;img src=&quot;http://ved.me/T6aw&quot;&gt;
    &lt;p&gt;Hi there, welcome!&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
    </pre>
</div>
<div id="right-panel">
    <iframe id="html-output"></iframe>
</div>