<div id="left-panel">
    <pre id="html-editor">
<%= save.program %>
    </pre>
</div>
<div id="right-panel">
    <iframe id="html-output"></iframe>
</div>
<script>
    var saveID = '<%= save.id %>';
</script>