<div id="left-panel">
    <pre id="html-editor">
        function foo(items) {
            var x = "All this is syntax highlighted";
            return x;
        }
    </pre>
</div>
<div id="right-panel">
    <div id="html-output"></div>
</div>