<div class="sidebar">
    <h4>To Do:</h4>
    <ul id="tasklist">
        <li class="finishedtask">This is the first task.</li>
        <li class="finishedtask">This is the second task.</li>
        <li class="currenttask">This is the third task.</li>
        <li>This is the fourth task.</li>
        <li>This is the fifth task.</li>
        <li>This is the sixth task.</li>

    </ul>
        <h4>Today's Lesson</h4>
    <div id="today">
        <p>Listen for these key terms:<p>
        <ul>
            <li>Loops</li>
            <li>Iteration</li>
            <li>Increment</li>
            <li>Decrement</li>
        </ul>
        <p>For more information about iteration, <a href="#">Click here!</a></p>
    </div>
</div>
<div class="content">
    <% include _html_editor.ejs %>
</div>