This is a demo of a feature that will allow teachers to know which students are actively working and which ones are not.

We can also use this to track which parts of a page students are active on.

<div class="alert alert-success" id="attention-test">
  Student is paying attention.
</div>